
.header {
    display: flex;
    column-gap: 10px;
    padding: 80px 0 0 100px;
    box-sizing: border-box;
}


.header .logo{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.header .logo h4{
    font-weight: 700;
    margin: 0;
    font-size: 25px;
    color: var(--primary-color);
    text-transform: uppercase;
}


.header .logo img{
    width: 100px;
}

.header .toggle-icon{
    font-size: 20px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 776px){
    .header{
        position: fixed;
        top: 0;
        left: 0;
        padding: 10px 15px;
        background: #ffffff;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        z-index: 12;
    }

    .header .logo h4{
        font-size: 16px;
    }

    .header .logo img{
        width: 50px;
    }
    .header .toggle-icon{
        display: block;
    }

    .fixed-header-space{
        height: 55px;
    }


}