
.container{
    max-width: 1600px;
    margin: auto
}

:root{
    --bg-color: #4caf5014;
    --primary-color: #4caf50;
}

.text-strong{
    font-weight: 600;
    color: #484848
}
.text-small{
    font-size: 13px;
    color: #595959;
}
.w-full{
    width: 100%;
}