body {
  margin: 0;
  font-family: Poppins, serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color)
}

h1, h2, h3,h4, p{
  margin: 0
}